body {
    margin: 0px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #ECEDED;
}

 h1 {
     font-size: 27px;
     font-family: 'Noto Sans TC';
     font-weight: 700;
     letter-spacing: 9.3px;
     color: #818c86;
     display: inline;
     line-height: 32px;
     letter-spacing: 2.5px;
 }

   /*0618new start*/

.t1:hover{
    opacity: 70%;
    transition: opacity 0.2s linear 0.05s;}
 
 .svg{
    opacity: 100%;
 }
 
 .svg:hover{
      opacity:70%;
      transition:opacity 0.2s linear 0.05s;
 }
 
 /*0618new end*/
 
 /* header_CSS */
h8{
    font-size: 27px;
    font-family: 'Noto Sans TC';
    font-weight: 610;
    letter-spacing: 9.3px;
    color:#e5eae7;
    display: inline;
}
 h2 {
     font-size: 24px;
     font-family: 'B612', sans-serif;
     font-weight: 610;
     letter-spacing: 3px;
     color: #e5eae7;
     display: inline;
 }

 .headimage {
     background-image: url(../homepage/headerimg-09.png);
     background-size: cover;
     background-attachment: fixed;
     height: 43%;
     width: 100%;
     display: flex;
     position: absolute;
 }

/* footer */
h5{
    font-size: 16px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: Bold;
    letter-spacing: 4px;
    color: #e5eae7;
    display: inline;
}

h6{
    font-size: 12px;
    font-family: 'Noto Sans TC';
    font-weight: 250;
    letter-spacing: 5px;
    color: #e5eae7;
    display: inline;
    vertical-align: top;
 }

.footer{
     background-color: #818c86;
     height: 26%;
     width: 100%;
     display: flex;
     align-items: center;
     position: relative;
     bottom: -580px;
     
 }

/*台灣*/
.pic1 svg {
    margin-left: -240px;
    width: 1200%;
}
/*button*/
h{
    font-size: 16px;
    font-family: 'Noto sans TC', sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: white;
    line-height: 40px;
 }

.b1 {
      margin-left: auto;
      margin-right: auto;
      background-color: #f3f3f3;
      display: flex;
      justify-content: space-around;
      position: relative;  
}
  .t1 {
      height: 42px;
      width: 200px;
      background-color: #657265;
      border-radius: 300px 300px 300px 300px;
      margin-top: 39px;
      text-align: center;
      vertical-align: middle;
  }
.pic1 path {
    /* transform: scale(1.1); */
    stroke: rgba(34, 34, 34, 0.9);
    fill: rgb(124, 180, 137);
    transition: 0.5s;
    cursor: pointer;
}

.pic1 path:hover {
    fill: #b5beb8;
    transform: translate(5px, -5px);
}

a:link{
    color: #818c86;
    font-size:20px;
    word-break: break-all;
    width: 100%;
    font-family: Noto Sans TC;
}

.title_area {
    position: absolute;
    left: 300px;
    top: 100px;
    color: rgba(34, 34, 34, 0.9);
    font-size: 10px;
    width: 500%;
}
img{
    width:300px
}
h5{
    color:#ECEDED;
}
.title_area_title {
    font-family: Noto Sans TC;
    font-weight: 600;
    letter-spacing: 4px;
        font-size: 28px;
        color: #818c86;
        display: inline;
        line-height: 35px;
        font-weight: 700;

}

.forcast_h3 {
    font-size: 15px;
    font-weight:bold;
    letter-spacing: 3px;
    word-break: break-all;
    width:100%;
    line-height: 30px;
    color:gray;
}
.forcast_h4 {
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 3.2px;
    word-break: break-all;
    width:100%;
    line-height: 27px;
}

.forcast_title {
    font-size: 20px;
    font-weight:bold;
    letter-spacing: 3px;
    word-break: break-all;
    width:100%;
    line-height: 30px;
    color:#7a8d85;
}


/*台灣*/
